body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fundo preto */
    color: #D3C0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header{
    /*background-color: #52e552;*/
    height: 80px;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
header img{
    height: 80%;
}
header ul{
    list-style: none;
    color: #fff;
}
header ul li{
    display: table-cell;
    padding-right: 20px;
}
header ul li a{
    text-decoration: none;
    color: #fff;
}
header ul li a:hover {
    text-decoration: none;
    color: #ff6600;
}
  

.container {
    padding-top: 20%;
    padding-bottom: 20%;
}

.title {
    font-size: 64px;
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.author {
    font-size: 24px;
    margin: 10px 0;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.sobre-nos {
    padding: 50px 0;
    text-align: center;
}

.sobre-nos h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    background-color: #444;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 250px;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.team-member p {
    font-size: 14px;
    margin-bottom: 20px;
}

.github-btn {
    background-color: #00FF00;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.github-btn:hover {
    background-color: #00cc00;
}
.project-title {
    text-align: center;
    margin: 20px 0;
}

.project-description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.description-column-left,
.description-column-right {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
}

.description-box {
    background-color: #333; /* Fundo das caixas de texto cinza escuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white; /* Texto branco nas caixas de texto */
}

h2 {
    margin-top: 0;
}

/*    diagramas     */

.diagram {
    background-color: #111;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.diagram img {
    width: 300px;
    height: 250px;
}

.diagram h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.diagram p {
    font-size: 14px;
    margin-bottom: 20px;
}

/*  MVP  */

.mvp {
    background-color: #111;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.mvp img {
    width: 300px;
    height: 500px;
}

.mvp h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.mvp p {
    font-size: 14px;
    margin-bottom: 20px;
}

/*     PDFs     */

.pdf {
    background-color: #111;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.pdf img {
    width: 300px;
    height: 300px;
}

.pdf h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.pdf p {
    font-size: 14px;
    margin-bottom: 20px;
}